.main{
  position: relative;
  overflow: hidden;
  height: 100%;
  .topheader {
    background: #0f3255;
    padding: 0;
    position: relative;
    // display: none;
    // margin-bottom: 20px;
    .layout-logo{
      width: 100px;
      height: 30px;
      background: #5b6270;
      border-radius: 3px;
      float: left;
      position: relative;
      top: 15px;
      left: 10px;
      z-index: 901;
      margin-right: 30px;
    }
    .ivu-menu-dark{
      background: #0f3255;
    }
    .userinfo{
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      z-index: 901;
    }
  }
  .content{
    width: 100%;
    height: 100%;
    position: relative;
    .tag-nav-wrapper{
      padding: 0;
      height: 40px;
      line-height: 40px;
      background:#F0F0F0;
      overflow: hidden;
    }
  }
}